.App {
  text-align: center;
}

/* .navbar {
  background-color: #EBECED;
} */

.navbar {
  position: sticky !important;
  top: 0 !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#main {
  height: 100vh;
  width: 100vw;
}

#main-page-background {
  height: 92%;
  width: 100%;
  /* background-image: url('../../silver-tongue/src/images/worldmap-background.png'); */
  /* background-color: #320669; */
  /* background-color: #308552; */
  /* color: white; */
  color: #308552;
  font-size: 1.6rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.language-word-fly-in {
  position: absolute;
  width: 110%;
  /* top: 10%; */
  left: -100px;
  /* opacity: 11%; */
  opacity: 24%;
  font-size: 1.2rem;
  text-align: left;
  z-index: 1;
  color: #308552;
}

.main-page-button {
  width: 100%;
  margin-bottom: 3%;
  border-color: transparent !important;
  font-weight: 800 !important;
  position: relative;
  z-index: 4;
  border-radius: .8rem !important;
}

.sign-up-button {
  background-color: #8ad1a6 !important;
}

.account-button {
  background-color: #1d5232 !important;
}

#language-carousel {
  /* background-color: #8AD1A6; */
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 8%;
  z-index: 2;
  background-color: #EBECED;
  /* background-color: #8ad1a6; */
  /* height: 15%; */
  /* position: absolute;
  top: 90%;
  z-index: 2 */
}
