.App {
  text-align: center;
  background-color: #f8f9fa;
}

/* .navbar {
  background-color: #EBECED;
} */

.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 10;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#main {
  height: 100vh;
  width: 99vw;
}

#main-page-background {
  height: 100%;
  width: 100%;
  /* background-image: url('../../silver-tongue/src/images/worldmap-background.png'); */
  /* background-color: #320669; */
  /* background-color: #308552; */
  /* color: white; */
  color: #308552;
  font-size: 1.6rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.language-word-fly-in {
  position: absolute;
  width: 110%;
  /* top: 10%; */
  left: -100px;
  /* opacity: 11%; */
  opacity: 25%;
  font-size: 1.2rem;
  text-align: left;
  z-index: 1;
  color: #308552;
}

.main-page-button {
  width: 100%;
  margin-bottom: 3%;
  font-weight: 800 !important;
  position: relative;
  z-index: 4;
  border-radius: 0.8rem !important;
}

.sign-up-button {
  background-color: #8ad1a6 !important;
  border-color: transparent !important;
  color: white !important;
}

.sign-up-button:hover {
  background-color: #476b55 !important;
}

.account-button {
  background-color: #1d5232 !important;
  border-color: transparent !important;
  color: white !important;
}

.account-button:hover {
  background-color: #30744b !important;
}

#language-carousel {
  /* background-color: #8AD1A6; */
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 8%;
  z-index: 2;
  background-color: #ebeced;
  /* background-color: #8ad1a6; */
  /* height: 15%; */
  /* position: absolute;
  top: 90%;
  z-index: 2 */
}

.homepage-row {
  margin: 0% 8% 4% 8% !important;
  /* margin-left: 8% !important;
  margin-right: 8% !important;
  margin-bottom: 4%; */
  border-bottom: 3px solid #8ad1a6;
  align-items: center;
}

.wernix-features {
  font-size: small;
}

.wernix-features-col {
  text-align: left;
}

/* .checkmark {
 list-style-image: url('/src/images/checkmark-small.png');
} */

ul.no-bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.checkmark {
  background: url("/src/images/checkmark-small.png") no-repeat left top;
  height: 54px;
  padding-left: 40px;
  padding-top: 4px;
}

li.arrow-small {
  background: url("/src/images/arrow-small.png") no-repeat left 29px;
  /* height: 54px; */
  padding-left: 40px;
  padding-top: 29px;
  display: block;
}

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 60vh;
  overflow-y: auto;
}

.up-front {
  z-index: 5;
}

.pos-rel {
  position: relative;
}

ul a {
  color: #8ad1a6;
}
ul a:hover {
  color: #476b55;
  text-decoration: none;
}


.register-form-label {
  text-align: left;
}

.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.bi-eye-css {
  position: absolute;
  top: 12%;
  right: 3%;
}

.MuiSlider-markLabel {
  font-size: 0.5rem !important;
}

.icon-nav {
  margin-right: 6px;
}
